#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

all:
  vars:
    container_client: docker
  children:
    fabric_x:
      vars:
        container_network: fabric_test
      children:
        fabric_x_orderers:
          children:
            fabric_x_orderer_1:
              vars:
                organization:
                  name: OrdererOrg1
                  domain: ordererorg1.example.com
                  role: orderer
                orderer_group: 1
              hosts:
                orderer-router-1:
                  orderer_component_type: router
                  orderer_rpc_port: 7050
                orderer-batcher-1:
                  orderer_shard_id: 1
                  orderer_component_type: batcher
                  orderer_rpc_port: 7051
                orderer-consenter-1:
                  orderer_component_type: consenter
                  orderer_rpc_port: 7052
                orderer-assembler-1:
                  orderer_component_type: assembler
                  orderer_rpc_port: 7053
            fabric_x_orderer_2:
              vars:
                organization:
                  name: OrdererOrg2
                  domain: ordererorg2.example.com
                  role: orderer
                orderer_group: 2
              hosts:
                orderer-router-2:
                  orderer_component_type: router
                  orderer_rpc_port: 7150
                orderer-batcher-2:
                  orderer_shard_id: 1
                  orderer_component_type: batcher
                  orderer_rpc_port: 7151
                orderer-consenter-2:
                  orderer_component_type: consenter
                  orderer_rpc_port: 7152
                orderer-assembler-2:
                  orderer_component_type: assembler
                  orderer_rpc_port: 7153
            fabric_x_orderer_3:
              vars:
                organization:
                  name: OrdererOrg3
                  domain: ordererorg3.example.com
                  role: orderer
                orderer_group: 3
              hosts:
                orderer-router-3:
                  orderer_component_type: router
                  orderer_rpc_port: 7250
                orderer-batcher-3:
                  orderer_shard_id: 1
                  orderer_component_type: batcher
                  orderer_rpc_port: 7251
                orderer-consenter-3:
                  orderer_component_type: consenter
                  orderer_rpc_port: 7252
                orderer-assembler-3:
                  orderer_component_type: assembler
                  orderer_rpc_port: 7253
            fabric_x_orderer_4:
              vars:
                organization:
                  name: OrdererOrg4
                  domain: ordererorg4.example.com
                  role: orderer
                orderer_group: 4
              hosts:
                orderer-router-4:
                  orderer_component_type: router
                  orderer_rpc_port: 7350
                orderer-batcher-4:
                  orderer_shard_id: 1
                  orderer_component_type: batcher
                  orderer_rpc_port: 7351
                orderer-consenter-4:
                  orderer_component_type: consenter
                  orderer_rpc_port: 7352
                orderer-assembler-4:
                  orderer_component_type: assembler
                  orderer_rpc_port: 7353

        fabric_x_committer:
          hosts:
            committer-db:
              committer_component_type: db
              postgres_user: sc_user
              postgres_password: sc_secret_pwd
              postgres_db: sc_db
              postgres_port: 5435
            committer-validator:
              committer_component_type: validator
              committer_rpc_port: 5100
              prometheus_exporter_port: 2120
              postgres_db_host: committer-db
            committer-verifier:
              committer_component_type: verifier
              committer_rpc_port: 5200
              prometheus_exporter_port: 2130
            committer-coordinator:
              committer_component_type: coordinator
              committer_rpc_port: 5300
              prometheus_exporter_port: 2140
            committer-sidecar:
              committer_component_type: sidecar
              committer_rpc_port: 4001 # changed from 5400 to align with testcontainer
              prometheus_exporter_port: 2150
            committer-query-service:
              committer_component_type: query-service
              committer_rpc_port: 7001 # changed from 5500 to align with testcontainer
              prometheus_exporter_port: 2160
              postgres_db_host: committer-db

    # Load generators are used only to generate the crypto material
    # for the users and set the certificates in the right place
    # to build the genesis block successfully.
    load_generators:
      vars:
        container_network: fabric_test
      hosts:
        orderer-loadgen:
          organization:
            name: Org1MSP
            domain: org1.example.com
            users:
              - name: channel_admin
                meta_namespace_admin: true
              - name: endorser
                namespace: token_namespace
