#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Ansible
ansible/collections
out/
crypto/

# Misc
bin/
keys/
data/
**/namespace/*.json
fabric-samples/

__debug_bin*